[Unit]
Description=Consul service discovery agent
Requires=network-online.target 
After=network-online.target

[Service]
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/bin/consul agent -data-dir={{ consul_data_dir }} -node={{ inventory_hostname }} -config-dir={{ consul_config_dir }} -enable-script-checks={{ enable_script_check }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
