{
“bootstrap”: true,
“client_addr”: “{{ client_address }}”,
“server”: true,
“datacenter”: “{{ consul_datacenter_name }}”,
“data_dir”: “{{ consul_data_dir }}”,
“encrypt”: “{{ consul_key.stdout }}”,
“log_level”: “{{ log_level }}”,
“enable_syslog”: true
}